# --- Core ---
apache-superset==6.0.0rc1

# --- WSGI / Server ---
gunicorn
gevent
gevent-websocket

# --- Databricks (oficiales y compatibles con Superset 6) ---
databricks-sql-connector>=4.0.0
databricks-sqlalchemy>=2.0.0

# --- Serialization / ORM ---
marshmallow
marshmallow-sqlalchemy
